brotli==1.0.9
ConfigParser==5.3.0
cryptography==38.0.4
Cython==0.29.32
dl==0.1.0
docutils==0.19
flair==0.11.3
Flask==2.2.2
fuzzywuzzy==0.18.0
HTMLParser==0.0.2
importlib_metadata==3.10.1
ipaddr==2.2.0
keyring==23.11.0
lockfile==0.12.2
lxml==4.9.1
matplotlib==3.5.3
mypy_extensions==0.4.3
networkx==2.8.6
numpy==1.23.3
ordereddict==1.1
protobuf==4.21.12
pyOpenSSL==22.1.0
python-dotenv==0.21.0
pyvis==0.3.0
spacy==3.4.1
tweepy==4.10.1
typing_extensions==4.4.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.8.1
